body {
  justify-content: center;
  align-items: center;
  min-width: 770;
  background-color: #000000;
}

img {
  object-fit: contain;
}

@font-face {
  font-family: Wild-Words;
  src: url(Assets/WildWordsRoman.ttf);
}

#title {
  font-family: Wild-Words;
  text-align: center;
  letter-spacing: 2px;
  margin: 0;
  color: white;
  font-size: 72px;
}

#desc {
  font-family: Wild-Words;
  text-align: center;
  margin: 5;
  color: white;
  font-size: 24px;
}

#infotitle {
  font-family: Wild-Words;
  letter-spacing: 3px;
  text-align: center;
  position: absolute;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: white;
  font-size: 48px;
}

#counterbox {
  background-color: rgba(100, 100, 100, 0.5);
  position: fixed;
  padding: 0 15;
  border-radius: 15px;
  z-index: 10;
  display: none;
}

#counter {
  color: white;
  font-family: Wild-Words;
  letter-spacing: 1px;
  font-size: 24;
  z-index: 10;
  display: inherit;
}

.infotext {
  font-family: Sans-Serif;
  line-height: 110%;
  text-align: center;
  position: absolute;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: white;
  font-size: 20px;
}

#info {
  font-family: Wild-Words;
  position: fixed;
  left: 10%;
  height: 90%;
  width: 80%;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(50, 50, 50, 0.98);
  z-index: 10;
  display: none;
}

#info.fade {
  transition: 1s;
  opacity: 0;
  visibility: hidden;
}

.sidesbox {
  position: fixed;
  display: inline-block;
  left: 0;
  right: 0;
  z-index: 2;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  min-width: 770;
}

.sidesbox label {
  display: inline-block;
}

.wrapbox {
  position: absolute;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  margin: 20 30 0 160;
  justify-content: center;
}

.imgbox {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 456px;
  height: 456px;
  margin: 30 20 0 20px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  min-width: 520;
}

.imgbox img {
  width: 400;
  height: 400;
}

#imgA {
  position: absolute;
  z-index: 1;
}

#imgB {
  position: absolute;
}

#fadeA,
#fadeB {
  position: absolute;
  z-index: 2;
}

#redA,
#greenA,
#redB,
#greenB {
  height: 456px;
  width: 456px;
}

#redA,
#redB {
  top: -30;
  position: absolute;
  z-index: 3;
}

#greenA,
#greenB {
  top: -30;
  position: absolute;
  z-index: 4;
}

#bothbox {
  width: 200;
  height: 100;
  margin: 0 15;
  z-index: 10;
  display: flex;
  position: relative;
}

#both,
#skip {
  margin: 0 0;
  z-index: 10;
}

#both2,
#skip2 {
  margin: 0 0;
  z-index: 11;
  position: absolute;
  left: 0;
}

#skipbox {
  width: 200;
  height: 100;
  margin: 0 15;
  z-index: 10;
  display: flex;
  position: relative;
}

@keyframes crossin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

.fade {
  animation-name: crossin;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.show {
  display: block;
  opacity: 1;
  transition: 0.25s;
}

.green:not(:hover) {
  opacity: 0;
  transition: opacity 0.5s;
}
.green:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.imgdesc {
  position: relative;
  font-family: Wild-Words;
  letter-spacing: 1px;
  color: white;
  font-size: 18;
  top: -50;
  margin: 0 10;
  z-index: 0;
}

.keypadbox {
  display: flex;
  justify-content: center;
  margin: 0;
}

.keypadbox img {
  position: absolute;
  top: 40%;
  margin: 20;
  vertical-align: middle;
}

.line-break {
  width: 100%;
  margin: 0;
}

.sidebar {
  width: 70;
  height: 70;
  position: fixed;
  right: 0;
  display: block;
  z-index: 9;
  margin: 15;
}

#menu {
  width: 70;
  height: 70;
  margin: 15;
  opacity: inherit;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

#menu2 {
  width: 70;
  height: 70;
  margin: 15;
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: none;
}

#menucheck {
  display: none;
}

#menucheck:checked ~ #menu2 {
  z-index: 11;
}
#menucheck:not(:checked) ~ #menu2 {
  z-index: 9;
}
#menucheck:checked ~ .scorelink {
  top: 100;
  transition: 0.1s linear;
}
#menucheck:checked ~ .achtoggle {
  top: 200;
  transition: 0.2s linear;
}
#menucheck:checked ~ .discord {
  top: 300;
  transition: 0.3s linear;
}
#menucheck:checked ~ .reddit {
  top: 400;
  transition: 0.4s linear;
}
#menucheck:checked ~ .info {
  top: 500;
  transition: 0.5s linear;
}
#menucheck:not(:checked) ~ .scorelink {
  top: 0;
  opacity: 0;
  transition: 0.15s linear;
}
#menucheck:not(:checked) ~ .achtoggle {
  top: 0;
  opacity: 0;
  transition: 0.3s linear;
}
#menucheck:not(:checked) ~ .discord {
  top: 0;
  opacity: 0;
  transition: 0.45s linear;
}
#menucheck:not(:checked) ~ .reddit {
  top: 0;
  opacity: 0;
  transition: 0.6s linear;
}
#menucheck:not(:checked) ~ .info {
  top: 0;
  opacity: 0;
  transition: 0.75s linear;
}

#a {
  position: fixed;
  left: 0;
  top: 0;
  width: 200;
  z-index: 10;
}

#a20 {
  z-index: 30;
}

#a19 {
  z-index: 29;
}

#a18 {
  z-index: 28;
}

#a17 {
  z-index: 27;
}

#a16 {
  z-index: 26;
}

#a15 {
  z-index: 25;
}

#a14 {
  z-index: 24;
}

#a13 {
  z-index: 23;
}

#a12 {
  z-index: 22;
}

#a11 {
  z-index: 21;
}

#a10 {
  z-index: 20;
}

#a9 {
  z-index: 19;
}

#a8 {
  z-index: 18;
}

#a7 {
  z-index: 17;
}

#a6 {
  z-index: 16;
}

#a5 {
  z-index: 15;
}

#a4 {
  z-index: 14;
}

#a3 {
  z-index: 13;
}

#a2 {
  z-index: 12;
}

#a1 {
  z-index: 11;
}

#s {
  position: fixed;
  left: 0;
  top: 0;
  width: 200;
  z-index: 100;
}

#s20 {
  z-index: 130;
}

#s19 {
  z-index: 129;
}

#s18 {
  z-index: 128;
}

#s17 {
  z-index: 127;
}

#s16 {
  z-index: 126;
}

#s15 {
  z-index: 125;
}

#s14 {
  z-index: 124;
}

#s13 {
  z-index: 123;
}

#s12 {
  z-index: 122;
}

#s11 {
  z-index: 121;
}

#s10 {
  z-index: 120;
}

#s9 {
  z-index: 119;
}

#s8 {
  z-index: 118;
}

#s7 {
  z-index: 117;
}

#s6 {
  z-index: 116;
}

#s5 {
  z-index: 115;
}

#s4 {
  z-index: 114;
}

#s3 {
  z-index: 113;
}

#s2 {
  z-index: 112;
}

#s1 {
  z-index: 111;
}

@keyframes slidein {
  0% {
    left: -200;
  }
  100% {
    left: 0;
  }
}

.A_now {
  opacity: 0.5;
  position: relative;
  margin: 0 0 -76 0;
  top: 0;
  z-index: 10;
  animation-name: slidein;
  animation-duration: 0.5s;
}
.A_hid {
  display: none;
  position: relative;
  margin: 0 0 -76 0;
  top: 0;
}
.A_bar {
  display: block;
  opacity: 1;
  position: relative;
  margin: 0 0 -76 0;
  top: 0;
  animation-name: slidein;
  animation-duration: 0.5s;
}
.A_pop {
  display: block;
  opacity: 0;
  position: relative;
  margin: 0 0 -76 0;
  top: 0;
  animation-name: slidein;
  animation-duration: 0.5s;
}
.A_pop:hover {
  opacity: 1;
}
